<p>{{blogs.title}}</p>

<p>Let's EDIT a blog!</p>
<form action="/editblog" method="post">
    <input type="hidden" name="_id" placeholder="{{blogs._id}}" value="{{blogs._id}}">
    <input type="text" name="title" placeholder="{{blogs.title}}" value="{{blogs.title}}">

    <input type="text" name="keywords" placeholder="{{blogs.keywords}}" value="{{blogs.keywords}}">
    <input type="text" name="summary" placeholder="{{blogs.summary}}" value="{{blogs.summary}}">
    <input type="text" name="text" placeholder="{{blogs.text}}" value="{{blogs.text}}">
    <input type="text" name="image" placeholder="{{blogs.image.[0]}}" value="{{blogs.image.[0]}}">
    <input type="text" name="video" placeholder="{{blogs.video.[0]}}" value="{{blogs.video.[0]}}">

    <button type="submit">Edit this blog post.</button>
</form>
<hr>