<div class="row">
    <div class="col-sm-1"></div>
        <div class="row">
            <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-5">
                <img src="{{blogs.image.[0]}}" alt="image">
            </div>
            <div class="col-sm-5">
                <h2> {{blogs.title}}</h2>

                <span> {{blogs.date}};</span>
                
                <p>Choreograpther: {{blogs.choreographer}};</p>

            </div>

                <p>{{blogs.text}}</p>
                <a href="/blog?id={{blogs._id}}">open</a>
            </div>
    <div class="col-sm-1"></div>
</div>