<h2> {{blogs.title}}</h2>
<span> {{blogs.date}};</span>
<span>with {{blogs.choreographer}};</span>
<img src="{{blogs.image.[0]}}" alt="image">
<p>{{blogs.text}}</p>
<a href="/blog?id={{blogs._id}}">open</a>
<hr>